name: Deployment

on:
  workflow_run:
    workflows: ["CI"]
    branches: [develop]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Make mvnw executable
      run: chmod +x mvnw

    - name: Extract project version
      id: extract_version
      run: |
        VERSION=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)
        echo "VERSION=$VERSION"
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./.docker/Dockerfile
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/${{ secrets.APP_NAME }}:latest
          ${{ secrets.DOCKER_USERNAME }}/${{ secrets.APP_NAME }}:${{ steps.extract_version.outputs.VERSION }}
        cache-from: type=gha
        cache-to: type=gha, mode=mas

    - name: Deploy to VPS
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USERNAME }}
        key: ${{ secrets.VPS_SSH_KEY }}
        port: ${{ secrets.VPS_PORT }}
        passphrase: ${{ secrets.VPS_PASSPHRASE }}
        script: |
          set -e
          cd /opt/${{ secrets.APP_NAME }} || sudo mkdir -p /opt/${{ secrets.APP_NAME }} && cd /opt/${{ secrets.APP_NAME }}
          
          cat > .env << EOF
          APP_NAME=${{ secrets.APP_NAME }}
          DOCKER_USERNAME=${{ secrets.DOCKER_USERNAME }}
          POSTGRES_USER=${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_DB=${{ secrets.POSTGRES_DB }}
          REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}
          CLOUDINARY_NAME=${{ secrets.CLOUDINARY_NAME }}
          CLOUDINARY_API_KEY=${{ secrets.CLOUDINARY_API_KEY }}
          CLOUDINARY_API_SECRET=${{ secrets.CLOUDINARY_API_SECRET }}
          SMTP_MAIL=${{ secrets.SMTP_MAIL }}
          SMTP_KEY=${{ secrets.SMTP_KEY }}
          EOF
          
          sudo curl -fsSL \
            -H "Authorization: Bearer ${{ secrets.GH_TOKEN }}" \
            https://raw.githubusercontent.com/${{ github.repository }}/main/compose.prod.yml \
            -o compose.prod.yml

          if [ -d "nginx/default.conf" ]; then sudo rm -rf nginx/default.conf; fi
          
          sudo mkdir -p nginx
          sudo curl -fsSL -H "Authorization: Bearer ${{ secrets.GH_TOKEN }}" \
            https://raw.githubusercontent.com/${{ github.repository }}/develop/nginx.conf -o nginx/default.conf
          
          CERT_PATH="certbot/conf/live/neora.duckdns.org/fullchain.pem"
          if [ ! -f "$CERT_PATH" ]; then
            sudo mkdir -p certbot/conf/live/neora.duckdns.org
            sudo openssl req -x509 -nodes -newkey rsa:2048 \
              -keyout certbot/conf/live/neora.duckdns.org/privkey.pem \
              -out certbot/conf/live/neora.duckdns.org/fullchain.pem \
              -days 1 -subj '/CN=neora.duckdns.org'
            sudo chmod -R 755 certbot/conf
          fi

          docker compose -f compose.prod.yml --env-file .env pull
          docker compose -f compose.prod.yml --env-file .env up -d --remove-orphans
          
          if openssl x509 -in "$CERT_PATH" -noout -issuer | grep -q "neora.duckdns.org" || \
             ! openssl x509 -in "$CERT_PATH" -checkend 86400; then
          
            docker compose -f compose.prod.yml run --rm --entrypoint "" certbot \
              certbot certonly --webroot --webroot-path=/var/www/certbot \
              --email ${{ secrets.SSL_EMAIL }} --agree-tos --no-eff-email \
              -d neora.duckdns.org --force-renewal
          
            sudo chmod -R 755 certbot/conf
            docker compose -f compose.prod.yml exec -T nginx nginx -s reload
          fi

          docker image prune -f