name: Deployment

on:
  workflow_run:
    workflows: ["CI - Spring Boot"]
    branches: [develop]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:

    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Make mvnw executable
      run: chmod +x mvnw

    - name: Extract project version
      id: extract_version
      run: |
        VERSION=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)
        echo "VERSION=$VERSION"
        echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        file: ./.docker/Dockerfile
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/${{ secrets.APP_NAME }}:latest
          ${{ secrets.DOCKER_USERNAME }}/${{ secrets.APP_NAME }}:${{ steps.extract_version.outputs.VERSION }}
        cache-from: type=gha
        cache-to: type=gha, mode=mas